*DS_Store*
*.o
*~
*.cache
*.log
*/stamp-h*
stamp-h*
*.status
*/config.h
confdefs.h
config.h
conftest*
Makefile
core
pkgIndex.tcl
Makefile*orig
tcLex.dylib
TAGS
ID
GTAGS
GRTAGS
GSYMS
GPATH
tags
cscope*.out
cscope.files
config*.lineno
*(Autosaved)*
